<div class="container">
  <h1 style="text-align: center; color: #333; font-family: 'Roboto Slab', serif; font-size: 3em;"><strong>New article</strong></h1>

  <!-- Include Google Fonts link for Roboto Slab -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

  <%= render 'form', article: @article %>

  <div style="text-align: center;">
    <%= link_to 'Back to the list', articles_path, class: 'btn btn-success' %>
  </div>
</div>
